.container {
    display: grid;
    width: 50%;
    margin: 1.25vh auto 0 auto;
}
.container label{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
.container input {
    padding: 1vh 0 1vh 1vh;
    font-size: 1.2em;
    border-radius: 5px;
    border: 3px solid rgb(19, 218, 108);
}
.container input:focus {
    outline: none;
}